name: PHPUnit

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  tests:
    name: Tests
    strategy:
      matrix:
        include:
          - php: '8.0'
            mode: low-deps
          - php: '8.1'
            mode: high-deps
          - php: '8.2'
            #mode: experimental
      fail-fast: false

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-
      - name: Install Dependencies
        run: |
          if [[ "${{ matrix.mode }}" = low-deps ]]; then
            COMPOSER_OPTIONS="--prefer-lowest"
          fi
          composer update --ansi --no-interaction --no-scripts --prefer-dist $COMPOSER_OPTIONS

      - name: Execute tests (Unit and Feature tests) via PHPUnit
        run: ./vendor/bin/simple-phpunit
