name: PHPUnit

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  tests:
    name: Tests
    strategy:
      matrix:
        include:
          - php: '8.2'
            mode: low-deps
          - php: '8.2'
          - php: '8.3'
          - php: '8.4'
          - php: '8.5'
            mode: high-deps
      fail-fast: false

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Get Composer cache dir
        id: composer-cache
        run: echo "dir=$(composer config cache-dir)" >> $GITHUB_OUTPUT

      - name: Cache Composer
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ matrix.php }}-${{ matrix.mode }}-${{ hashFiles('**/composer.json') }}
          restore-keys: |
            ${{ runner.os }}-composer-${{ matrix.php }}-${{ matrix.mode }}-
            ${{ runner.os }}-composer-${{ matrix.php }}-
            ${{ runner.os }}-composer-

      - name: Install Dependencies
        run: |
          if [[ "${{ matrix.mode }}" == "low-deps" ]]; then
             # Force LTS of Bridge to avoid the bootstrapping big in prefer-lowest
            composer require --no-update --dev symfony/phpunit-bridge:^6.4
            COMPOSER_OPTIONS="--prefer-lowest --prefer-stable"
            # in case of previously cache vendor folder
            rm -rf vendor
          fi
          composer update --ansi --no-interaction --no-scripts --prefer-dist $COMPOSER_OPTIONS

      - name: Audit Security
        run: composer audit

      - name: Execute tests (Unit and Feature tests) via PHPUnit
        env:
          SYMFONY_PHPUNIT_VERSION: ${{ matrix.mode == 'low-deps' && '9.5' || '' }}
        run: |
          composer config --global use-parent-dir false
          ./vendor/bin/simple-phpunit
